<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCnh8SRFXB49-criHmVc154vq3T6qEL5Eg</string>
	<key>GCM_SENDER_ID</key>
	<string>149060664559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onlineBookReadingApp</string>
	<key>PROJECT_ID</key>
	<string>book-app-57f98</string>
	<key>STORAGE_BUCKET</key>
	<string>book-app-57f98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149060664559:ios:8cea41dbc1a124f9e4af1a</string>
</dict>
</plist>